@import url('https://fonts.cdnfonts.com/css/cabinet-grotesk?styles=134960,134959,134955,134954');
@import url('https://fonts.cdnfonts.com/css/satoshi');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overscroll-behavior-y: none;
  font-family: 'Satoshi', sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: linear-gradient(
    rgba(85, 35, 231, 0.8) 0%,
    rgba(85, 35, 231, 0.8) 100%
  );
}

::-webkit-scrollbar {
  background-color: #ececec;
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: rgba(85, 35, 231);
}

.button::-webkit-scrollbar {
  display: none;
}

.nav-shadow {
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(15px);
}

.work-card-shadow {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
